:root {
    --bs-link-color-rgb: 0, 0, 0 !important;
    --bs-link-hover-color-rgb: 76, 76, 76 !important;
}

a.unroll-link[href]:after,
.unroll-link a[href]:after {
    content: ' (' attr(href) ')';
}

.container {
    max-width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

body {
    color: #000 !important;
    background-color: #fff !important;
    zoom: 80%;
}

/* Hide elements you don't want to print */
.no-print,
.no-print * {
    display: none !important;
    height: 0;
}

/* Reset text colors for common elements */
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
li,
td,
th,
.text-body:not(.bg-secondary-subtle),
.text-white,
.text-light {
    color: #000 !important;
}

.text-secondary-emphasis {
    color: #2b2f32 !important;
}

.force-print {
    /* Chrome, Safari 6 – 15.3, Edge */
    -webkit-print-color-adjust: exact !important;
    /* Firefox 97+, Safari 15.4+ */
    print-color-adjust: exact !important;
}

.print-no-break {
    break-inside: avoid;
}

.bg-dark {
    background-color: #fff !important;
}

/* Bootstrap overrides */

.d-md-flex {
    display: flex !important;
}

.shadow-sm,
.shadow,
.shadow-lg {
    box-shadow: none !important;
}