{% assign current = include.current %}
{% assign interests = include.interests %}
{% assign languages = include.languages %}
{% assign education = include.education %}
{% assign profissional = include.profissional %}
{% assign volunteer = include.volunteer %}
{% assign certificates = include.certificates %}
{% assign awards = include.awards %}
{% assign skills = include.skills %}
{% if include.bio == "pt" %}{% assign bio = site.data.bio-pt %}{% else %}{% assign bio = site.data.bio-en %}{% endif %}

<div class="cv" style="margin-top: 10px; margin-bottom:6em;">
  <div style="margin-bottom: 20px" class="ui stackable grid container no-bottom nonprintable" id="Download">
    <!-- <div class="twelve wide column no-bottomm"></div> -->
    <div class="sixteen wide column no-bottom center aligned">
      <a class="ui labeled icon button nonprintable" href="{% if include.bio == 'pt' %}/files/Herculino de Miranda Trotta Neto - Curriculo.pdf{% else %}/files/Herculino de Miranda Trotta Neto - CV.pdf{% endif %}" target="_blank">
        <i class="download icon"></i>
        {% if include.bio == 'pt' %}Baixar em PDF{% else %}Download as PDF{% endif %}
      </a>
    </div>
  </div>

  <div class="ui stackable grid container">
  
    <div class="twelve wide column middle aligned">
      <h1 class="ui left aligned header no-bottom">{{ bio.basics.name }}
        <span class="sub header">{{ bio.basics.location.city }}, {{ bio.basics.location.region }}, {{ bio.basics.location.countryCode }}</span>
      </h1>
    </div>

    <div class="four wide column">
      <div class="ui middle aligned animated relaxed list">
        {% if bio.basics.website %}
        <a class="item" href="{{ bio.basics.website }}" target="_blank">
          <i class="home icon"></i>
          <div class="content">
            <div class="header">{{ bio.basics.website | remove: "http://" | remove: "https://" }}</div>
          </div>
        </a>
        {% endif %}

        {% if bio.basics.email %}
        <a class="item"  href="mailto:{{ bio.basics.email }}" target="_blank">
          <i class="mail icon"></i>
          <div class="content">
            <div class="header">{{ bio.basics.email }}</div>
          </div>
        </a>
        {% endif %}

        {% for entry in bio.basics.profiles %}
        <a class="item"  href="{{ entry.url }}" target="_blank">
          <i class="{{ entry.network | downcase }} icon"></i>
          <div class="content">
            <div class="header">{{ entry.username }}</div>
          </div>
        </a>
        {% endfor %}
        
      </div>
    </div>
  </div>

  {% if bio.education %}
  <div style="margin-bottom: 20px" class="ui one column stackable grid container" id="{{ education | remove: ' ' }}">
    <div class="row">
      <div class="column">
        <h4 class="ui horizontal left aligned divider header">
          <i class="graduation cap icon"></i>
          {{ education }}
        </h4>
        <div class="ui three stackable cards"  style="padding-top: 6px;">
          {% for educ in bio.education %}
          <div class="ui card {% if educ.endDate == current %}yellow{% else %}green{% endif %}">
            <div class="content">
              {% if educ.website.size >= 1 %}
              <a class="ui top attached grey label" href="{{ educ.website }}" target="_blank"><i class="map marker alternate icon"></i>{{ educ.institution }}</a>
              {% else %}
              <div class="ui top attached grey label">
                <i class="map marker alternate icon"></i>{{ educ.institution }}
              </div>
              {% endif %}
              <div class="header">{{ educ.area }}</div>
              <div class="meta">
                <p>{{ educ.studyType }}</p>
              </div>
              <div class="description">
              </div>
            </div>
            <div class="extra content">
              {% assign start = {{educ.startDate | date: "%m" | plus: 0 }} %}
              {% assign end = {{educ.endDate | date: "%m" | plus: 0 }} %}
              <div class="right floated"><i class="calendar icon"></i>{{ educ.startDate | date: "%Y" }}.{% if start > 6 %}2{% else %}1{% endif %} - {% if educ.endDate == current %}{{ educ.endDate | date: "%Y" }}{% else %}{{ educ.endDate | date: "%Y" }}.{% if end > 6 %}2{% else %}1{% endif %}{% endif %}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  
  {% if bio.work %}
  <div style="margin-bottom: 20px" class="ui one column stackable grid container" id="{{ profissional | | remove: ' ' }}">
      <div class="column">
        <h4 class="ui horizontal left aligned divider header">
          <i class="paperclip icon"></i>
          {{ profissional }}
        </h4>
        <div class="ui three stackable cards"  style="padding-top: 6px;">
          {% for work in bio.work %}
          <div class="ui card {% if work.endDate == current %}yellow{% else %}green{% endif %}">
            <div class="content">
              {% if work.website.size >= 1 %}
              <a class="ui top attached grey label" style="margin-bottom: 12px;" href="{{ work.website }}" target="_blank"><i class="map marker alternate icon"></i>{{ work.name }}</a>
              {% else %}
              <div class="ui top attached grey label" style="margin-bottom: 12px;"><i class="map marker alternate icon"></i>{{ work.name }}</div>
              {% endif %}
              <div class="header">{{ work.position }}</div>
              <div class="description">
                {%if work.summary.size >= 1 %}<p>{{ work.summary }}</p>{% endif %}
                <div class="ui bulleted list" style="margin-top: 0;">
                  {% for highlight in work.highlights %}
                  <div class="item">{{ highlight }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated">
                <i class="calendar icon"></i>{{ work.startDate | date: "%m/%Y" }} - {{ work.endDate | date: "%m/%Y" }}
              </div>
              <div>
                <i class="map marked alternate icon"></i>
                {{ work.location }}
              </div>
            </div>
        </div>
        {% endfor %}
        </div>
      </div>
  </div>
  {% endif %}

  {% if bio.volunteer %}
  <div style="margin-bottom: 20px" class="ui one column stackable grid container" id="{{ volunteer | | remove: ' ' }}">
      <div class="column">
        <h4 class="ui horizontal left aligned divider header">
          <i class="hands helping icon"></i>
          {{ volunteer }}
        </h4>
        <div class="ui three stackable cards"  style="padding-top: 6px;">
          {% for work in bio.volunteer %}
          <div class="ui card {% if work.endDate == current %}yellow{% else %}green{% endif %}">
            <div class="content">
              {% if work.website.size >= 1 %}
              <a class="ui top attached grey label" style="margin-bottom: 12px;" href="{{ work.website }}" target="_blank"><i class="map marker alternate icon"></i>{{ work.organization }}</a>
              {% else %}
              <div class="ui top attached grey label" style="margin-bottom: 12px;"><i class="map marker alternate icon"></i>{{ work.organization }}</div>
              {% endif %}
              <div class="header">{{ work.position }}</div>
              <div class="description">
                {%if work.summary.size >= 1 %}<p>{{ work.summary }}</p>{% endif %}
                <div class="ui bulleted list" style="margin-top: 0;">
                  {% for highlight in work.highlights %}
                  <div class="item">{{ highlight }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated">
                <i class="calendar icon"></i>{{ work.startDate | date: "%m/%Y" }} - {{ work.endDate | date: "%m/%Y" }}
              </div>
              <div>
                <i class="map marked alternate icon"></i>
                {{ work.location }}
              </div>
            </div>
        </div>
        {% endfor %}
        </div>
      </div>
  </div>
  {% endif %}


  <div style="margin-bottom: 20px" class="ui two column stackable grid container">
  {% if bio.certificates %}
    <div class="column" id="{{ certificates | remove: ' ' }}">
      <h4 class="ui horizontal left aligned divider header">
        <i class="certificate icon"></i>
        {{ certificates }}
      </h4>

      <div class="ui top attached tabular menu jsOnly">
      {% assign certificate_category = bio.certificates | map: "category" | uniq %}
      {% for category in certificate_category %}
          <a class="item" data-tab="{{ category }}">{{ category }}</a>
      {% endfor %}
      </div>

      {% for category in certificate_category %}
      <div class="ui bottom attached tab segment" data-tab="{{ category }}">
        <div class="ui relaxed divided bulleted list">
        {% for certificate in bio.certificates %}
          {% if certificate.category == category %}
          <div class="item">
            <div class="content">
              {% if certificate.url %}
              <a href="{{certificate.url}}" target="_blank" class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></a>
              {% else %}
              <div class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></div>
              {% endif %}
              {{ certificate.summary }}
            </div>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      {% endfor %}
      
      <noscript>
      <div class="ui segment">
        <div class="ui relaxed divided bulleted list">
          {% for certificate in bio.certificates %}
          <div class="item">
            <div class="content">
              {% if certificate.url %}
              <a href="{{certificate.url}}" target="_blank" class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></a>
              {% else %}
              <div class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></div>
              {% endif %}
              {{ certificate.summary }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </noscript>
    </div>
  {% endif %}
  {% if bio.awards %}
    <div class="column" id="{{ skill.name | remove: ' ' }}">
      <h4 class="ui horizontal left aligned divider header">
        <i class="award icon"></i>
        {{ awards }}
      </h4>
      <div class="ui segment">
        <div class="ui relaxed divided bulleted list">
          {% for award in bio.awards %}
          <div class="item">
            <div class="content">
              {% if award.url %}
              <a href="{{award.url}}" target="_blank" class="header">{{ award.title }}, <i>{{ award.awarder }}, {{ award.date }}</i></a>
              {% else %}
              <div class="header">{{ award.title }}, <i>{{ award.awarder }}, {{ award.date }}</i></div>
              {% endif %}
              {{ award.summary }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  {% endif %}
    </div>
  </div>
  

  <div style="margin-bottom: 20px" class="ui one column stackable grid container" id="{{ skills | remove: ' ' }}">
    <div class="column">
      <h4 class="ui horizontal left aligned divider header">
        <i class="info circle icon"></i>
        {{ skills }}
      </h4>
      <div class="ui segment">
        <div class="ui labels small">
          {% for skill in bio.other_skills %}
          <div class="ui grey label">
            {{ skill.name }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


  {% if bio.languages %}
  <div style="margin-bottom: 20px" class="ui one column stackable grid container" id="{{ languages | remove: ' ' }}">
    <div class="column">
      <h4 class="ui horizontal left aligned divider header">
        <i class="comments icon"></i>
        {{ languages }}
      </h4>
      <noscript>
        <div class="ui five stackable cards"  style="padding-top: 6px;">
          {% for lang in bio.languages %}
          <div class="ui card">
            <div class="content no-bottom">
              <div class="header">{{ lang.name }}</div>
            </div>
            <div class="content center aligned">
              <div class="description">
                <div class="language">
                  <div class="progress nonprintable">
                    {% for i in (1..4) %}
                    <div class="bar {% if i <= lang.level %}filled{% else %}empty{% endif %}"></div>
                    {% endfor %}
                  </div>
                </div>
                <div class="ui top pointing grey label">{{ lang.fluency }}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </noscript>
      <div class="ui horizontal stackable segments jsOnly">
        {% for lang in bio.languages %}
        <div class="ui segment">
          <div class="ui green progress" style="min-width: 200px!important;" data-value="{% if lang.level >= 4 %}{{ lang.level | minus: 0.08 }}{% else %}{{ lang.level }}{% endif %}" data-total="4" id="{{ lang.name }}">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label">{{ lang.name }}</div>
          </div>
          
          <script>
            $("#{{ lang.name}}").progress({
            duration : 0,
            showActivity: true,
            label: 'ratio',
            text: {ratio: '{{ lang.fluency }}'}});          
          </script>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}



  {% if bio.skills %}
  <div style="margin-bottom: 20px" class="ui three column stackable grid container">
    {% for skill in bio.skills %}
    <div class="column" id="{{ skill.name | remove: ' ' }}">
      <h4 class="ui horizontal left aligned divider header">
        <i class="{{ skill.icon }} icon"></i>
        {{ skill.name }}
      </h4>
      <div class="ui segment">
        <div class="ui labels small">
        {% for keyword in skill.keywords %}
        <div class="ui grey label" {% if keyword[1] %}data-tooltip="{{ keyword[1] }}"{% endif %}>
          {{ keyword[0] }}
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}


  <div style="margin-bottom: 20px" class="ui one column stackable grid container" id="{{ interests | remove: ' ' }}">
    <div class="column">
      <h4 class="ui horizontal left aligned divider header">
        <i class="heart icon"></i>
        {{ interests }}
      </h4>
      <div class="ui segment">
        <div class="ui labels small">
          {% for interest in bio.interests %}
          <div class="ui grey label">
            {{ interest.name }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


</div>

<script>
  $('.menu .item')
    .tab();
</script>
