{% assign language = include.language %}
{% if language == "pt" %}{% assign bio = site.data.bio-pt %}{% else %}{% assign bio = site.data.bio-en %}{% endif %}
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.language == language" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.language == language" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}
<button class="ui button icon basic darkmode-button" id="darkmode" data-tooltip="{% if language == 'pt' %}Alternar tema{% else %}Toggle theme{% endif %}" data-position="bottom right"><i class="moon icon"></i></button>
<a href="{{ site.baseurl}}/{% if language=='pt' %}en{% else %}pt{% endif %}/" class="ui button icon basic translate-button" {% if language=='pt' %}data-tooltip="See in English" data-position="bottom right"{% else %}data-tooltip="Ver em Português" data-position="bottom right"{% endif %}><i class="{% if language=='pt' %}us{% else %}br{% endif %} flag"></i></a>

<div style="height: 100%; margin-top: -75px!important; margin-left:0!important; margin-right:0!important" class="ui middle aligned grid ">

  <div class="column">

    <div style="position: relative; top: 75px; z-index: 1" class="ui fluid centered small circular image">
      <img src="{{ bio.basics.picture }}">
    </div>


    <div style="max-width: 500px; padding-top: 75px; margin-top: 0px" class="ui fluid centered card">

      <div class="center aligned content">
        <span class="header">{{ bio.basics.short_name }}</span>
        <div class="meta">
          <span class="date">{{ bio.basics.label }}</span>
        </div>
        <div class="center aligned description">
          {{ bio.basics.summary }}
        </div>
      </div>
      <div class="center aligned extra content">
        {% include home-network-links.html language=language %}
      </div>
      <div class="center aligned content" style="line-height: 3em">
        {% if num_projects > 0 %}<a class="ui animated green button" href="{{ site.baseurl}}/{{ language }}/{% if include.language == "pt" %}{{ site.projects-url-pt }}{% else %}{{ site.projects-url-en }}{% endif %}/">
          <div class="visible content">{% if language == "pt" %}{{ site.projects-page-label-pt }}{% else %}{{ site.projects-page-label-en }}{% endif %}</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </a>{% endif %}
        {% if num_essays > 0 %}<a class="ui animated green button" href="{{ site.baseurl}}/{{ language }}/{% if include.language == "pt" %}{{ site.essays-url-pt }}{% else %}{{ site.essays-url-en }}{% endif %}/">
          <div class="visible content">{% if language == "pt" %}{{ site.essays-page-label-pt }}{% else %}{{ site.essayss-page-label-en }}{% endif %}</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </a>{% endif %}
        <a class="ui animated green button" href="{{ site.baseurl}}/{{ language }}/{% if include.language == "pt" %}{{ site.bio-url-pt }}{% else %}{{ site.bio-url-en }}{% endif %}/">
          <div class="visible content">{% if language == "pt" %}{{ site.bio-page-label-pt }}{% else %}{{ site.bio-page-label-en }}{% endif %}</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
