{% assign language = "en" %}
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.lang == 'en'" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.lang == 'en'" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div class="nonprintable">
  <nav class="ui stackable menu">
    <a href="{{ site.baseurl}}/{{ language }}" class="brand item">
      <img class="ui avatar image" src="{{ site.data.bio-en.basics.picture }}"><span>{{ site.data.bio-en.basics.short_name }}</span>
    </a>
    {% if num_projects > 0 %}
    <a href="{{ site.baseurl }}/{{ language }}/{{ site.projects-url-en }}" class=" {% if include.active == "projects" %} active {% endif %}item">{{ site.projects-page-label-en }}</a>
    {% endif %}
    {% if num_essays > 0 %}
    <a href="{{ site.baseurl }}/{{ language }}/{{ site.essays-url-en }}" class=" {% if include.active == "essays" %} active {% endif %} item">{{ site.essays-page-label-en }}</a>
    {% endif %}
    <a href="{{ site.baseurl }}/{{ language }}/{{ site.bio-url-en }}" class=" {% if include.active == "bio" %} active {% endif %} item">{{ site.bio-page-label-en }}</a>
  </nav>
  <a href="{{ site.baseurl }}/pt/{% if include.active == "projects" %}{{ site.projects-url-pt }}{% elsif include.active == "essays" %}{{ site.essays-url-pt }}{% elsif include.active == "bio" %}{{ site.bio-url-pt }}{% endif %}" class="ui button icon basic translate-button"><i class="br flag"></i></a>
</div>
