{% assign language = include.language %}
{% if language == "pt" %}{% assign bio = site.data.bio-pt %}{% else %}{% assign bio = site.data.bio-en %}{% endif %}
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.language == language" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.language == language" %}
{% assign portfolio_pages = site.pages | where: "type", "portfolio" | where_exp: "page", "page.language == language" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}
{% assign num_portfolios = portfolio_pages.size %}


<div class="nonprintable">
  <nav class="ui stackable menu pointing">
    <a href="{{ site.baseurl}}/{{ language }}" class="brand item">
      <img class="ui avatar image" src="{{ bio.basics.picture }}" alt="{{ bio.basics.short_name }}"><span>{{ bio.basics.short_name }}</span>
    </a>
    {% if num_projects > 0 %}
    <a href="{{ site.baseurl }}/{{ language }}/{% if language == 'pt' %}{{ site.projects-url-pt }}{% else %}{{ site.projects-url-en }}{% endif %}" class="{% if include.active == "projects" %}active {% endif %}green item">{% if language == "pt" %}{{ site.projects-page-label-pt }}{% else %}{{ site.projects-page-label-en }}{% endif %}</a>
    {% endif %}

    {% if num_essays > 0 %}
    <a href="{{ site.baseurl }}/{{ language }}/{% if language == 'pt' %}{{ site.essays-url-pt }}{% else %}{{ site.essays-url-en }}{% endif %}" class="{% if include.active == "essays" %}active {% endif %}green item">{% if language == "pt" %}{{ site.essays-page-label-pt }}{% else %}{{ site.essays-page-label-en }}{% endif %}</a>
    {% endif %}

    {% if num_portfolios > 0 %}
    <a href="{{ site.baseurl }}/{{ language }}/{{ site.portfolio-url }}" class="{% if include.active == "portfolio" %}active {% endif %}green item">{% if language == "pt" %}{{ site.portfolio-page-label-pt }}{% else %}{{ site.portfolio-page-label-en }}{% endif %}</a>
    {% endif %}

    <a href="{{ site.baseurl }}/{{ language }}/{% if language == 'pt' %}{{ site.bio-url-pt }}{% else %}{{ site.bio-url-en }}{% endif %}" class=" {% if include.active == "bio" %}active {% endif %}green item">{% if language == "pt" %}{{ site.bio-page-label-pt }}{% else %}{{ site.bio-page-label-en }}{% endif %}</a>

  </nav>
  <button class="ui button icon basic darkmode-button jsOnly" id="darkmode" data-tooltip="{% if language == 'pt' %}Alternar tema{% else %}Toggle theme{% endif %}" data-position="bottom right" style="z-index: 2;"><i class="moon icon"></i></button>

  {% if language == 'pt' %}
  <a href="{{ site.baseurl }}/en/{% if include.active == "projects" %}{{ site.projects-url-en }}{% elsif include.active == "essays" %}{{ site.essays-url-en }}{% elsif include.active == "bio" %}{{ site.bio-url-en }}{% elsif include.active == "portfolio" %}{{ site.portfolio-url }}{% elsif include.active == "404" %}404{% endif %}" class="ui button icon basic translate-button" data-tooltip="See in English" data-position="bottom right"><i class="us flag"></i></a>
  {% else %}
  <a href="{{ site.baseurl }}/pt/{% if include.active == "projects" %}{{ site.projects-url-pt }}{% elsif include.active == "essays" %}{{ site.essays-url-pt }}{% elsif include.active == "bio" %}{{ site.bio-url-pt }}{% elsif include.active == "portfolio" %}{{ site.portfolio-url }}{% elsif include.active == "404" %}404{% endif %}" class="ui button icon basic translate-button" data-tooltip="Ver em Português" data-position="bottom right"><i class="br flag"></i></a>
  {% endif %}
</div>
