<div style="padding-top: 10px; padding-bottom: 50px" class="ui container ">
  {% assign language = page.language %}
  {% assign portfolio_pages = site.pages | where: "type", "portfolio" | sort: "date" | reverse %}
  {% assign portfolio_pages_in_lang = portfolio_pages | where: "language", language %}
  {% assign portfolio_categories = portfolio_pages | where: "language", language | map: "category" | sort | uniq %}

  {% if portfolio_categories.size > 1 %}
  <div class="nonprintable filter-buttons jsOnly">
      {% for category in portfolio_categories %}
      <a class="button ui toggle filter" href="#{{ category | remove: " " }}" id="filter-{{ category | remove: " " }}">{{ category }}</a>
      {% endfor %}
    <a class="button ui toggle filter active" href="#" id="filter-all">{% if language == 'pt' %}Todos{%- elsif language == 'en' -%}All{% endif %}</a>
  </div>
  {% endif %}

  {% if portfolio_pages_in_lang.size > 0 %}
  <div class="masonry-wrapper-without-js">
    <div class="masonry-without-js" id="filterable">
      {% for page in portfolio_pages_in_lang %}
      {% if page.language == language %}
        {% include portfolio-card.html page=page %}
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
  <div class="ui container center aligned">
    <h2 class="ui icon header disabled"><i class="frown icon"></i>
      <span class="content">
        {% if language == 'pt' %}Nada aqui{%- elsif language == 'en' -%}Nothing here{% endif %}
        <span class="sub header">
          {% if language == 'pt' %}Nenhum item foi adicionado ainda.{%- elsif language == 'en' -%}No item has been added yet.{% endif %}
        </span>
      </span>
    </h2>
    </div>
  </div>
  {% endif %}
  
<script src="//unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script src="/javascript/filters.js"></script>
<script src="/javascript/masonry.js"></script>
<script>
  $('.masonry .dimmer').dimmer({
  on: 'hover',
  duration    : {
  show : 500,
  hide : 300
}
});
</script>
