<div style="padding-top: 20px" class="ui container ">
    {% assign language = "en" %}
    {% assign project_pages = site.pages | where: "type", "project" | sort: "date" | reverse %}
    {% assign project_categories = project_pages | where: "lang", language | map: "category" | uniq %}
    
    <div class="filter-buttons">
        {% for category in project_categories %}
        <a class="button ui toggle" id="{{ category | remove: " " }}">{{ category }}</a>
        {% endfor %}
      <a class="button ui toggle active" id="all">All</a>
    </div>
  
  <div class="ui stackable three cards" id="filterable">
    {% for page in project_pages %}
      {% if page.lang == language %}
        {% include project-card.html page=page %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
    // from https://codepen.io/terf/post/jquery-filter-divs
    var $btns = $('.button').click(function () {
        if (this.id == 'all') {
            $('#filterable > div').fadeIn(450);
        } else {
            var $el = $('.' + this.id).fadeIn(450);
            $('#filterable > div').not($el).hide(0, function() {
                $('#filterable > div').not($el).attr("style", "display: none !important");
            });
        }
        $btns.removeClass('active');
        $(this).addClass('active');
    })
</script>
