---
title: "404"
layout: default.njk
---

<div class="d-flex align-items-center justify-content-center px-2 my-auto">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-2 fw-medium">Oops! Page not found</p>
        <p class="">The page you're looking for doesn't exist or has been moved.</p>
        <a href="{{ '/' | url }}" class="btn btn-secondary">
            <i class="fa-solid fa-house"></i> Go to Home
        </a>
    </div>
</div>