---
layout: default.njk
---

{% import "resume/macros/section.njk" as section %}

<main>
    <div class="container bg-body shadow-sm px-lg-5 py-4 text-body">
        {% include 'resume/header.njk' %}
        {% include 'resume/experience.njk' %}
        {% include 'resume/education.njk' %}
        {% include 'resume/skills.njk' %}
        {% include 'resume/languages.njk' %}
        {% include 'resume/projects.njk' %}
        {% include 'resume/volunteer.njk' %}
        {% include 'resume/awards.njk' %}
        {% include 'resume/certifications.njk' %}
    </div>
</main>