---
layout: default
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/404.css">

{% include menubar-en.html active=""%}
<main class="bsod container">
  <h1 class="neg title"><span class="bg">Error 404</span></h1>
  <p>There was a error and we couldn't find what you where looking for. You can try:
  <p>* Return to the homepage.<br />
  * Send an e-mail about this error and try again later.</p>
  <nav class="nav">
    <a href="{{ site.baseurl }}/" class="link">home</a>&nbsp;|&nbsp;<a href="mailto:{{ site.data.bio-pt.basics.email }}" class="link">e-mail</a>
  </nav>
</main>