---
layout: projects-pt
---

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">
    <div class="ui breadcrumb">
        <a href="/pt/" class="section breadlink">Início</a>
        <i class="right angle icon divider breaddivider"></i>
        <a href="/pt/{{ site.projects-url-pt }}" class="section breadlink">Projetos</a>
        <i class="right angle icon divider breaddivider"></i>
        <div class="active section">{{ page.title }}</div>
    </div>
 <h1>{{ page.title }}</h1>
 {{ content }}
</div>