---
layout: projects-pt
---

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">
    <div class="ui breadcrumb">
        <a hrer="/en" class="section breadlink">Home</a>
        <i class="right angle icon divider breaddivider"></i>
        <a href="/en/{{ site.projects-url-en }}" class="section breadlink">Projects</a>
        <i class="right angle icon divider breaddivider"></i>
        <div class="active section">{{ page.title }}</div>
    </div>

 <h1>{{ page.title }}</h1>
 {{ content }}
</div>